// Typhography
h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
    color: $grey-500;
}
h1, h2{
    line-height: 112%;
    letter-spacing: -1px;
}
h3,h4{
    letter-spacing: -0.5px;
    font-weight: 500;
}
h1{
    font-weight: 600;
    font-size: 6.4rem;
}
h2{
    font-weight: bold;
    font-size: 4rem;
}
h3{
    font-size: 2.4rem;
    line-height: 150%;
}
h4{
    font-size: 2rem;
    line-height: 112%;
}
.card-depoimento{
    width: 100%;
    max-width: 38.4rem;
    height: 20.9rem;
    background: rgba(241, 240, 245,0.55);
    border-radius: 0.8rem;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;
    .user{
        @include flex(row, center, space-between);
        strong{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $grey-500;
        }
    }
    p{
        font-size: 1.8rem;
        line-height: 150%;
        color: $grey-400;
        padding-top: 2.1rem;
    }
}