.card-depoimento{
    width: 100%;
    max-width: 38.4rem;
    height: 20.9rem;
    background: rgba(241, 240, 245,0.55);
    border-radius: 0.8rem;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;
    .user{
        @include flex(row, center, space-between);
        strong{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $grey-500;
        }
    }
    p{
        font-size: 1.8rem;
        line-height: 150%;
        color: $grey-400;
        padding-top: 2.1rem;
    }
}
.btn-primary{
    background-color: $brand-yellow;
    color: #855B35;
    &:hover{
    background-color: #FFDC5C;
    }
}
.btn-secondary{
    background-color: $brand-yellow;
    border: 1px solid #00A5F0;
    color: #00A5F0;
    background-color: transparent;
    &:hover{
        color: #FFFFFF;
        background-color: $brand-light-blue;
    }
    &.white{
        border: 1px solid #ffffff;
        color: white;
        &:hover{
            background-color: white;
            color: #01c7df;
        }
    }
}
.btn-primary, .btn-secondary{
    display: inline-block;
    line-height: 4.8rem; //alinhar ao centro
    padding: 0 2.6rem;
    border-radius: 12.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    transition: all .3s;
}