footer{
    background-color: $brand-blue;
    padding-top: 4.9rem;
    .top{
        @include flex(row, flex-start, space-between);
        border-bottom: 2px solid  rgba(73, 197, 253,0.2);
        padding-bottom: 4.8rem;
        .share{
            @include flex(row, center, center);
            gap: 3rem;
            ul{
                @include flex(row, center, center);
                gap: 3rem; 
            }
            span{
                font-size: 1.4rem;
                line-height: 125%;
                text-align: right;
                color: rgba(255, 255, 255,0.7);
            }
        }
    }
    .main{
        padding-top: 5.7rem;
        padding-bottom: 6.2rem;
        @include flex(row, flex-start, space-between);
        nav{
            width: 100%;
            max-width: 86rem;
            @include flex(row, flex-start, space-between);
            
            .item{
                strong{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: #FFFFFF;
                    display: inline-block;
                    margin-bottom: 2.5rem;
                }
                ul{
                    li{
                        &:not(:last-child){
                            margin-bottom: 2.5rem;
                        }
                        a{
                            font-size: 1.4rem;
                            line-height: 1.7rem;
                            color: rgba(255, 255, 255,0.7);
                        }
                    }
                }
            }
        }
        .btns{
            width: 100%;
            max-width: 28rem;
            button{
                width: 100%;
                height: 7.6rem;
                display: flex;
                align-items: center;
                padding-left: 2.5rem;
                background: rgba(0, 165, 240,0.23);
                border-radius: 6px;
                &:not(:last-child){
                    margin-bottom: 2.4rem;
                }
                .info{
                    margin-left: 2.4rem;
                    text-align: left;
                    strong{
                        display: inline-block;
                        font-size: 1.4rem;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                    span{
                        font-size: 1.4rem;
                        line-height: 150%;
                        color: #FFFFFF;
                        display: block;
                    }
                }
            }
        }
    }
    .bottom{
        border-top: 2px solid  rgba(73, 197, 253,0.2);
        display: flex;
        border-bottom: 4px solid #FFC800;
        align-items: center;
        gap: 2.5rem;
        padding-top: 3.9rem;
        padding-bottom: 3.8rem;
        p{
            width: 100%;
            max-width: 66rem;
            font-size: 1.4rem;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.8;
        }
        .emoji{
            font-size: 1.8rem;
        }
    }
    /* === Responsive === */
    @include responsive(1150px){
        .main{
            nav{
                max-width: 76rem;
            }
        }
    }
    @include responsive(991px){ /* === Tablet === */
        .main{
            width: 100%;
            position: relative;
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 0px;
            nav{
                justify-content: flex-start;
                width: 100%;
                flex-wrap: wrap;
                .item{
                    width: 33%;
                    margin-bottom: 7.6rem;
                }
            }
        }
        .btns{
            position: absolute;
            right: 0;
            bottom: 10rem;
        }
        .bottom{
            flex-direction: column;
            align-items: center;
        }
    }
    @include responsive(600px){
        .top{
            @include flex(column, center, center);
            .share{
                @include flex(column, center, center);
                margin-top: 3.2rem;
            }
        }
        .main{
            @include flex(column, center, center);
            .btns{
                button{
                    display: block;
                    padding: 0px;
                    img{
                        display: none;
                    }
                    .info{
                        text-align: center;
                    }
                }
            }
            nav{
                justify-content: flex-start;
                width: 100%;
                flex-wrap: wrap;
                .item{
                    width: 50%;
                    margin-bottom: 7.6rem;
                }
            }
        }
        .btns{
            width: 100%;
            position: relative;
            @include flex(column, center, center);
            bottom: initial;
            left: initial;
           
        }
        .bottom{
            border-top: none;
            p{
                max-width: 25.7rem;
            }
            
        }
    }
}