// section s-hero
.s-hero{
    width: 100%;
    height: 78.6rem;
    background: linear-gradient(45.08deg, rgba(11, 110, 182,0.6) -0.6%, rgba(0, 215, 215, 0) 72.53%);
    background: linear-gradient(100.52deg, #00A5F0 5.63%, #00D7D7 95.75%);
    padding-top: 17.5rem;
    .container{
        @include flex(row, flex-start, space-between);
        .text{
            width: 100%;
            max-width: 68.4rem;
            h3{
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.5px;
                color: rgba(255, 255, 255,0.8);
                margin-bottom: 3.2rem;
            }
            h1{
                font-weight: 600;
                letter-spacing: -1px;
                color: #FFFFFF;
                margin-bottom: 3.9rem;
            }
            ul{
                width: 100%;
                max-width: 62.1rem;
                margin-top: 6.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;     
                li{
                    display: flex;
                    align-items: center;
                    .icon{
                        background: linear-gradient(180deg, rgba(53, 202, 226,0.4) 0%, rgba(53, 202, 226, 0) 100%);
                        width: 4.8rem;
                        height: 4.8rem;
                        margin-right: 1.2rem;
                        border-radius: 50%; // create circle
                        @include flex(row, center, center);
                    }
                    span{
                        font-size: 1.8rem;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .area-image{
            width: 100%;
            max-width: 70.6rem;
            margin-right: -17.4rem;
            h2{
                font-weight: 600;
                font-size: 5.6rem;
                line-height: 8.4rem;
                margin-bottom: 6.7rem;
                letter-spacing: -2px;
                text-align: center;
                color: rgba(255, 255, 255, 0.4);
            }
            .image-hero{
                position: relative;
                width: 100%;
                top: 3.5rem;
                height: 54.1rem;
                img{
                    position: absolute;
                }
                .circle{
                    top: 2.8rem;
                    right: 4.3rem;
                }
                .card-front{
                    top: 4.1rem;
                    left: 0;
                    z-index: 2;
                }
                .card-back{
                    z-index: 1;
                    bottom: 4.6rem;
                    right: 8.6rem;
                }
            }
        }
    }
}

// section card neon
.s-card-neon{
    padding-top: 12.9rem;
    .container{
        @include flex(row, flex-start, space-between);
    }
    .left-area{
        width: 100%;
        max-width: 27.7rem;
        @include flex(column, flex-start, center);
        .ilustra-mockup{
            width: 100%;
            max-width: 27.7rem;
            position: relative;
            .circle{
                position: absolute;
                z-index: -1;
                top: 8.7rem; // adjust top position inside div
                max-width: 37.7rem; // width of circle
                margin-left: -21.4rem; // circle outside of container
            }
        }  
        .text{
            @include flex(column, center, center);
            .icon{
                @include flex(column, center, center);
                margin-top: 2.1rem;
                .dots{
                    margin-bottom: 2.1rem;
                }
            }
            .info-txt{
                width: 100%;
                @include flex(column, center, center);
                h3{
                    margin-top: 3.1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: -0.5px;
                    color: #33303E;
                }
                p{
                    line-height: 150%;
                    text-align: center;
                    color: rgba(95, 92, 107,0.8);
                    margin-bottom: 2.6rem; 
                }
                ul{
                    li{
                        &:not(:last-child){
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
    .right-area{
        width: 100%;
        max-width: 80rem;
        .main-text{
            margin-bottom: 14.4rem;
            .btn{
                position: relative;
                font-family: 'Poppins';
                font-weight: 500;
                line-height: 112%;
                letter-spacing: -0.5px;
                color: $brand-blue;   
                &:after{
                    content: ""; //must when using after/before
                    width: 10px;
                    height: 2px;
                    background-color: #FFC800;
                    position: absolute;
                    bottom: 3px;
                    right: -1.8rem;
    
                }
            }
            h2{
                width: 100%;
                max-width: 48.8rem; 
                font-weight: bold;
                font-size: 4rem;
                line-height: 112%;
                letter-spacing: -1px;
                color: $grey-600;
                margin-bottom: 4.9rem;
            }
            ul{
                margin-bottom: 3.2rem;
                li{
                    border-bottom: 1px solid rgba(225, 224, 231,0.9); 
                    padding: 33px 0px;
                    &:first-child{
                        padding-top: 0;
                    }
                    @include flex(row, center, space-between);
                    .info{
                        @include flex(row, flex-start, space-between);
                        .txt{
                            margin-left: 4.3rem;
                            h3{
                                font-family: 'Poppins', sans-serif;
                                font-weight: 500;
                                font-size: 2.4rem;
                                line-height: 150%;
                                letter-spacing: -0.5px;
                                color: $grey-400;
                            }
                            p{  
                                font-size: 1.8rem;
                                line-height: 150%;
                                color: $grey-300;
                            }
                        }
                    }
                     
                }
            }
        }
        .box-card{
            width: 100%;
            height: 41rem;
            background: url(../img/bg-box-card-neon.svg) no-repeat center center;
            border-radius: 1.2rem;
            @include flex(row, center, space-between);
            .image{
                margin-right: -3.1rem;
            }
            .txt{
                width: 100%;
                max-width: 38rem;
                padding-left: 5.9rem;
                h2,h3,p{
                    color: #FFFFFF;
                }
                h2{
                    font-weight: bold;
                    line-height: 112%;
                    letter-spacing: -1px;
                    margin-bottom: 1.1rem;
                    max-width: 32.7rem;
                }
                h3{
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.5px;
                    margin-bottom: 8px;
                }
                p{
                    line-height: 150%;
                }
                .btns{
                    margin-top: 1rem;
                    display: flex;
                    gap: 1.6rem;
                    align-items: center;
                }
            }
        }
        
    }
}

// section card depoimentos
.s-card-depoimentos{
    padding-top: 13.4rem;
    .top{
        margin-bottom: 4rem;
        @include flex(row, flex-end, space-between);
        h2{
            span{
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                line-height: 112%;
                font-size: 4rem;
                letter-spacing: -1px;
                color: $grey-200;
                margin-bottom: 1.4rem;
            }
            span.emoji{
                font-size: 3rem;
                display: inline !important;
                margin-left: 2rem;
            }
            .icon{
                width: 2.8rem;
                height: 3.1rem;
            }
            color: $grey-600;
        }
        // editing the pagination classes
        .swiper-pagination{
            position: relative;
            transition: all .3s;
            .swiper-pagination-bullet{
                background: $brand-yellow;
                opacity: 0.3;
                border-radius: 12px;
                &:not(:first-child){
                    margin-left: 4px;
                }
                transition: all .3s;
                &-active{
                    opacity: 1;
                    width: 17.23px;
                    height: 7px;
                    background: $brand-yellow;
                    border-radius: 12px;
                }
            }
        }
    }
    .slide-depoimentos{
        overflow: hidden; // everything outside the slide will be hidden 
    }
}