// section s-hero
.s-hero{
    width: 100%;
    height: 78.6rem;
    background: linear-gradient(45.08deg, rgba(11, 110, 182,0.6) -0.6%, rgba(0, 215, 215, 0) 72.53%);
    background: linear-gradient(100.52deg, #00A5F0 5.63%, #00D7D7 95.75%);
    padding-top: 17.5rem;
    .container{
        @include flex(row, flex-start, space-between);
        .text{
            width: 100%;
            max-width: 68.4rem;
            h3{
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.5px;
                color: rgba(255, 255, 255,0.8);
                margin-bottom: 3.2rem;
            }
            h1{
                font-weight: 600;
                letter-spacing: -1px;
                color: #FFFFFF;
                margin-bottom: 3.9rem;
            }
            ul{
                width: 100%;
                max-width: 62.1rem;
                margin-top: 6.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;     
                li{
                    display: flex;
                    align-items: center;
                    .icon{
                        background: linear-gradient(180deg, rgba(53, 202, 226,0.4) 0%, rgba(53, 202, 226, 0) 100%);
                        width: 4.8rem;
                        height: 4.8rem;
                        margin-right: 1.2rem;
                        border-radius: 50%; // create circle
                        @include flex(row, center, center);
                    }
                    span{
                        font-size: 1.8rem;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .area-image{
            width: 100%;
            max-width: 70.6rem;
            margin-right: -17.4rem;
            h2{
                font-weight: 600;
                font-size: 5.6rem;
                line-height: 8.4rem;
                margin-bottom: 6.7rem;
                letter-spacing: -2px;
                text-align: center;
                color: rgba(255, 255, 255, 0.4);
            }
            .image-hero{
                position: relative;
                width: 100%;
                top: 3.5rem;
                height: 54.1rem;
                img{
                    position: absolute;
                }
                .circle{
                    top: 2.8rem;
                    right: 4.3rem;
                }
                .card-front{
                    top: 4.1rem;
                    left: 0;
                    z-index: 2;
                }
                .card-back{
                    z-index: 1;
                    bottom: 4.6rem;
                    right: 8.6rem;
                }
            }
        }
    }
}

